<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="exitNodes" value=""/>
    <add key ="excludedExitNodes" value=""/>
    <add key ="updateFreq" value="5"/>
    <add key ="forceUpdate" value="false"/>
    <add key ="controlPort" value="9051"/>
    <add key ="persist" value="false"/>
    <add key ="opacity" value="100"/>
    <add key ="taskbar" value="false"/>
    <add key ="logging" value="false"/>
    <add key ="advancedOutput" value="true"/>
    <add key ="hostLookup" value="true"/>
  </appSettings>
  <system.net>
    <defaultProxy enabled="true">
      <proxy proxyaddress="http://127.0.0.1:8118" />
    </defaultProxy>
    <requestCaching disableAllCaching="true" />
  </system.net>
</configuration>
